[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=gryaznovart186
WorkingDirectory=/home/gryaznovart186/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
